.video-tile {
  display: flex;
  flex-direction: column;
  height: 100px;
  }
  
  .no-videos {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    color: #999;
  }
  .preview-imgage:hover{
    /* -webkit-filter: brightness(50%); */
    /* -webkit-transition: 0.2s all; */
    transform: scale(1.1);
  }